[submodule "Submodules/strata"]
	path = Submodules/strata
	url = https://github.com/StrataLanguage/stratac.git
[submodule "RaptorData"]
	path = RaptorData
	url = https://github.com/emd22/RaptorData
[submodule "Submodules/mimalloc"]
	path = Submodules/mimalloc
	url = https://github.com/microsoft/mimalloc
