build
buildobj
xcbuild
xcbuild/**/*
Src/out/**/*
*.ninja

Shaders/Spirv/**/*
Shaders/LastUpdated.fxd

Data/Sponza/**/*
Data/Demo/Models/**/*



*.ftx
**/TGen/*.ktx2

# Windows builds
vcpkg_installed/**/*
bin
*.dir
x64
obj
.*
*.vcxproj*
*.slnx
*.sln

# Exclusions for .*
!.gitignore
!.gitattributes
!.gitmodules

!.clangd
!.clang-format
!.clang-tidy

compile_commands.json
*.xcodeproj
*.xcworkspace

Makefile
*.make

CMakeCache.txt
CMakeFiles
*.cmake

compile_commands.json

bakes
Testing


private


*.spack

strata_struct_test.o
cache/shaders
